/deep/ .dx-datagrid-headers,
/deep/ .dx-datagrid-rowsview,
/deep/ .dx-datagrid-pager,
/deep/ .dx-datagrid-rowsview .dx-datagrid-table .dx-freespace-row{
    border: none;
}
/deep/ .dx-datagrid-content .dx-datagrid-table .dx-row > td{
    border: 1px solid #CAD4DD;
    border-width: 0 0 1px;
    white-space: normal;
    vertical-align: middle;
}
/deep/ .dx-datagrid-headers .dx-datagrid-table .dx-header-row > td{
    border-width: 0 0 2px;
}
/deep/ .dx-datagrid-rowsview .dx-datagrid-table .dx-freespace-row{
    height: auto !important;
    > td{
        border: none;
    }
}