<div class="submission-section">
	<h2>{{title}}</h2>
	<dx-data-grid
		[showColumnLines]="false"
		[showRowLines]="true"
		[showBorders]="false"
		[dataSource]="items">
		<dxo-header-filter
			[visible]="true">
		</dxo-header-filter>
		<dxo-filter-row
			[visible]="true"
			[applyFilter]="auto">
		</dxo-filter-row>
		<dxo-paging [pageSize]="10"></dxo-paging>
		<dxi-column
			cssClass="blue"
			dataField="Submission">
		</dxi-column>
		<dxi-column
			dataField="Type">
		</dxi-column>
		<dxi-column
			cellTemplate="cellTemplate"
			dataField="Status">
		</dxi-column>
		<dxi-column
			cssClass="blue"
			dataField="Study">
		</dxi-column>
		<dxi-column
			cssClass="blue"
			dataField="Site">
		</dxi-column>
		<dxi-column
			caption="Submitted by"
			dataField="SubmittedBy">
		</dxi-column>
		<dxi-column
			dataType="date"
			caption="Date Submitted"
			dataField="SubmittedDate"
			[customizeText]="customizeDate">
		</dxi-column>
		<div *dxTemplate="let data of 'cellTemplate'" [class]="data.value | lowercase">
			{{data.value}}
		</div>
	</dx-data-grid>
</div>