/deep/ .submission-details-section{
	padding: 20px 50px;

	h2{
		font-size: 21px;
		font-family: 'ArialMT', 'Arial', sans-serif;
		font-weight: 400;
		margin: 0 0 10px;
	}

	.dx-datagrid-table{
		td{
			vertical-align: middle !important;
			white-space: normal;
		}
	}
}